{% set org_nazev = (current_language == 'cs') ? fields.ORG_NAZEV_CS.content : fields.ORG_NAZEV_EN.content %}

{% set twig_content_variable = org_nazev|trim %}
{% set replace_value_var = ' ' %}
{% set replace_with_value_var = '-' %}
{% set replace_value_var_comma = ',' %}
{% set replace_with_value_var_comma = '' %} 


<h4><a href="{% if current_language == 'en' %}/en{% endif %}/{{ fields.ID_ORG.content }}/{{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var })|lower|replace({ (replace_value_var_comma): replace_with_value_var_comma })|transliterate() }}">{{ org_nazev }}</a>


    {% if (fields.POHLAVI.content == 'F') and (fields.funkce_cz_zena.content is not empty) %}
        <div style="font-size:14px; padding-top:5px">
        {% if current_language == 'cs' %}
            {{ fields.funkce_cz_zena.content|capitalize }}
        {% else %}
            {{ fields.funkce_en.content|capitalize }}
        {% endif %}
        </div>
    {% elseif fields.funkce_cz.content is not empty %}
        <div style="font-size:14px; padding-top:5px">
        {% if current_language == 'cs' %}    
            {{ fields.funkce_cz.content|capitalize }}
        {% else %}
            {{ fields.funkce_en.content|capitalize }}
        {% endif %}
        </div>
    {% endif %}


</h4>

{% if fields.OZNACENI_MISTNOST.content is not empty %}

    <div>
        <p class="contact__results__email">
            <span class="contact__results__info-title">{{ 'Room'|t }}: </span>
            <a class="contact__results__link" href="/kontakt/mapa-budovy/{{ fields.MISTNOST.content }}">{{ fields.NAZEV_BUDOVA_CS.content }} > {{ fields.PODLAZI.content }} > {{ fields.OZNACENI_MISTNOST.content }} (Mapa)</a>
        </p>
    </div> 
	
{% endif %}

{% if fields.HODINY_VEREJNOST_CS.content is not empty %}

    <div>
        <p class="contact__results__email">
            <span class="contact__results__info-title" style="margin-right: 0px;">{{ 'Tutorial Hours'|t }}: </span>
            <span>{{ fields.HODINY_VEREJNOST_CS.content }}</span>
        </p>
    </div> 

	
{% endif %}