
{% extends 'node.html.twig' %}

{% block content %}
    
<section class="main-content">

{{ drupal_view('front_cycle', 'slideshow') }}    

</section>

<section class="layout-aside">adasa</section>

<!-- FSV SLIDER 
    {{ content.field_homepage_slider }}
 -->

<!-- FSV news 
drupal_view('news_page', 'block_homepage_news_feed')
 -->


    
<!-- SEKCE ČLÁNKY ČERVENÉ POZADÍ
    <section class="news-feed news-feed--dark mb">
        <div class="news-feed__header">
            <h2 class="news-feed__section-title section-title padding">{{ content.field_homepage_info_blocks_head.0['#context'].value }}<a class="btn btn--light news-feed__btn" href="{{ content.field_homepage_info_blocks_link.0['#url'] }}">{{ content.field_homepage_info_blocks_link.0['#title'] }}</a></h2>
        </div>
        <ul class="news-feed__list">
            {{ content.field_homepage_info_blocks }}
        </ul>
    </section>
 -->

<!-- SEKCE search
    <section class="search-large mb">
        {{ drupal_form('Drupal\\search\\Form\\SearchBlockForm', 'homepage') }}
    </section>
 -->


    
{% endblock %}




