{%
	set classes = [
		'controls__print-wrap',
		'bc-' ~ content.field_barva_pozadi_obsahu[0]|render,
        ('1' in content.field_reset_mb_pro_hero_image[0]) ? 'mb-reset-hero-image',
	]
%}

<div {{ attributes.addClass(classes) }}>
    {% if content.field_control_print['#items'].0.getValue().value %}
        <section class="controls controls--print">        
            <ul class="controls__list">
                <li class="controls__item">
                    <a class="controls__link controls__link--print" href="#" id="jq_print">{{ 'Tisk'|t}}</a>
                </li>
            </ul>
        </section>
    {% endif %}

    {% set title_text_clr = content.field_barva_nadpisu[0]|render %}

    {% if (not content.field_hide_title['#items'].0.getValue().value 
        and (node.field_header_layout.0.value == 'titleFirst' or node.field_header_layout.0.value == '')) 
    %}
       <h1 
            class="page-title {{ content.field_additional_title_classes }}"
            {% if title_text_clr|length > 0 %}
                style="--page-title-text-clr: {{ title_text_clr|join(' ') }};"
            {% endif %}
        >
            {{ node.title.value }}
        </h1>
    {% endif %}

    {% if content.field_hero_image.0 %}
        {{ content.field_hero_image }}
    {% endif %}

    {% if (not content.field_hide_title['#items'].0.getValue().value 
        and node.field_header_layout.0.value == 'imageFirst') 
    %}
        <h1 
            class="page-title {{ content.field_additional_title_classes }}"
            {% if title_text_clr|length > 0 %}
                style="--page-title-text-clr: {{ title_text_clr|join(' ') }};"
            {% endif %}
        >
            {{ node.title.value }}
        </h1>
    {% endif %}

    {% block content %} 
        {{ content|without(
            'field_node_show_controls',
            'field_reset_mb_pro_hero_image',
            'field_barva_pozadi_obsahu',
            'field_hero_image',
            'field_tutor',
            'field_barva_nadpisu',
            'field_additional_title_classes',
            'field_header_layout'
            )
        }}
        
        {% if related_news_tags_ids is defined %}
            {{ drupal_view(
                'news_page',
                'block_related_basic_page',
                related_news_tags_ids | join('+')
                )
            }}
        {% endif %}
    {% endblock %}
</div>

{% block controls %}
    {% if content.field_node_show_controls['#items'].0.getValue().value %}
        <section class="controls mb">
            <h2 class="section-title padding">
                {{"Ovládací prvky"|t}}
            </h2>

            <ul class="controls__list">
                <li class="controls__item">
                    <a 
                        class="controls__link controls__link--print" 
                        href="#" 
                        id="jq_print"
                    >
                        {{ 'Tisk'|t}}
                    </a>
                </li>

                <li class="controls__item">
                    <a 
                        class="controls__link controls__link--mail" 
                        href="mailto:?&body={{ host }}{{ current_uri }}" 
                        target="_blank"
                    >
                        {{'Poslat mailem'|t}}
                    </a>
                </li>

                <li class="controls__item">
                    <a 
                        class="controls__link controls__link--fb" 
                        href="https://www.facebook.com/sharer/sharer.php?u={{ host }}{{ current_uri }}" 
                        target="_blank"
                    >
                        {{ 'Sdílet na Facebooku'|t}}
                    </a>
                </li>

                <li class="controls__item">
                    <a 
                        class="controls__link controls__link--twitter" 
                        href="https://twitter.com/intent/tweet?source={{ host }}{{ current_uri }}" 
                        target="_blank"
                    >
                        {{ 'Sdílet na Twitteru'|t}}
                    </a>
                </li>
            </ul>
        </section>
    {% endif %}
{% endblock controls %}



