<div class="content__job-offer">
	{% if (content.field_hide_title['#items'].0.getValue().value) %}
		{% else %}

			<h1 class="padding section-title page-title">
				{% if (node.field_topovat.value == '1') %}
					<span class="topovat">TOP</span>
				{% endif %}
				{{ label }}
			</h1>

	{% endif %}


	{% block content %}
		{% if related_news_tags_ids is defined %}
			{{ drupal_view(
            'news_page',
            'block_related_basic_page',
            related_news_tags_ids | join('+')
            ) }}

		{% endif %}
		<div class="wrapper--company">
			<dl>
				{# <dt>Název společnosti</dt> #}
				<dt></dt>
				<dd class="spolecnost">{{ content.field_nazev_spolecnosti }}</dd>
				{# <dt>Adresa pracoviště</dt> #}
				<dt></dt>
				<dd class="adresa">{{ content.field_adresa_mista_pracoviste }}</dd>
				{# <dt>E-mail</dt> #}
				<dt></dt>
				<dd class="email">
					{{ content.field_mail }}
				</dd>
				{% if (node.field_telefon.value is not empty) %}
					{# <dt>Telefon</dt> #}
					<dt></dt>
					<dd class="telefon">
						{{ content.field_telefon }}
					</dd>
				{% endif %}
			</dl>

			{% if node.field_logo.value is not empty %}
				<div class="wrapper--logo">
					<img src='{{ file_url(node.field_logo.entity.uri.value) }}' width="100px"/>
				</div>
			{% endif %}
		</div>
		{% if ((node.field_koho_hledame_list.value is not empty) or (node.field_uvazek_list.value is not empty) or (node.field_mzda.value is not empty)) %}
			<div class="wrapper--tags">
				<ul class="tags--list">
					{% if (node.field_koho_hledame_list.value is not empty) %}
						<li>
							<span class="label">Vhodné pro:</span>
							{{content.field_koho_hledame_list}}
						</li>
					{% endif %}
					{% if (node.field_uvazek_list.value is not empty) %}
						<li>
							<span class="label">Úvazek:</span>
							{{content.field_uvazek_list}}</li>
					{% endif %}
					{% if (node.field_mzda.value is not empty) %}
						<li>
							<span class="label">Mzda:</span>
							{{content.field_mzda}}</li>
					{% endif %}
				</ul>
			</div>
		{% endif %}
		<div class="wrapper--popis-pracovni-pozice">
			<h2>Popis pracovní pozice</h2>
			{{ node.body.value | raw}}
		</div>

		<div class="wrapper--google-map-iframe">
			<iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=cs&amp;q={{ node.field_adresa_mista_pracoviste.value | replace({' ': '+'}) }}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
		</div>

	{% endblock %}
</div>
