{#
/**
 * @file
 * Theme override for an item list.
 *
 * Available variables:
 * - items: A list of items. Each item contains:
 *   - attributes: HTML attributes to be applied to each list item.
 *   - value: The content of the list element.
 * - title: The title of the list.
 * - list_type: The tag for list element ("ul" or "ol").
 * - wrapper_attributes: HTML attributes to be applied to the list wrapper.
 * - attributes: HTML attributes to be applied to the list.
 * - empty: A message to display when there are no items. Allowed value is a
 *   string or render array.
 * - context: A list of contextual data associated with the list. May contain:
 *   - list_style: The custom list style.
 *
 * @see template_preprocess_item_list()
 */
#}
{% if context.list_style %}
  {%- set attributes = attributes.addClass('item-list__' ~ context.list_style) %}
{% endif %}
{% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  <div class="search-results__columns">

    <div class="search-results__main mb">
    <h2 class="section-title padding">{{'Search results'|t}}</h2>
    {%- if items -%}
      <ol class="search-results__list padding padding--large">
        {%- for item in items -%}
          <li class="search-results__item">{{ item.value }}</li>
        {%- endfor -%}
      </ol>
        
        {{ context.pager }}
    {%- else -%}
      <div class="padding padding--large">
        {{- empty -}}
        {% trans %}
          <h4>Suggestions:</h4>
          <ul>
            <li>Make sure there are no typos.</li>
            <li>Try different keywords.</li>
            <li>Try more generic keywords.</li>
            <li>Try using less keywords.</li>
          </ul>
        {% endtrans %}
      </div>
    {%- endif -%}
    </div>
  
    <div class="search-results__aside contact__results mb">
      <h2 class="section-title padding">{{'Faculty staff'|t}}</h2>
      
      {{ drupal_view('search_users', 'block') }}


    </div>


{%- endif %}

</div>
