<script type="text/javascript"> // RELOADS WEBPAGE WHEN MOBILE ORIENTATION CHANGES  
    window.onorientationchange = function() { 
        var orientation = window.orientation; 
            switch(orientation) { 
                case 0:
                case 90:
                case -90: window.location.reload(); 
                break; } 
    };
</script>

<div id="jq_cookies" class="cookies">
    <p>
    {{ 'This website uses cookies to store information on your computer. Some cookies ensure the proper functioning of this site, others help us improve the site by allowing us to see how the site is used. By continuing to use this website, you consent to the use of cookies. '|t }}
    {% if current_language == 'en' %}
                        <span>— <a href="https://www.prf.cuni.cz/en/cookies">More information?</a></span>
                    {% else %}
                      <span>— <a href="https://www.prf.cuni.cz/cookies">Více informací?</a></span>
                    {% endif %}
    </p>
    <button id="jq_cookiesClose" class="btn">{{ "I Agree"|t}}</button>
</div>
<div class="layout-container">
    <header class="header" id="jq_header">
        <div class="header__container container">
            {{ page.mobile_search }}
            <div class="header__left">
                <a class="header__logo" href="{{ path('<front>') }}" title="{{ 'Domů'|t }}" rel="home">
                    {% if current_language == 'en' %}
                        {% include '@fsv_uk/svg/web-logo-en.html.twig' %}
                    {% else %}
                        {% include '@fsv_uk/svg/web-logo-cs.html.twig' %}
                    {% endif %}
                    <img class="header__logo-img header__logo-mobile" src="{{ theme_path }}/favicons/mstile-70x70.png" alt="{{ site_name }}" />
                </a>
                <div class="header__mobile-btns">
                    <div class="header__mobile-lang">
                        {{ page.mob_langswitch }}
                    </div>
                    <button class="header__search-toggle" type="button" id="jq_search-toggle">{{ "Search"|t}}</button>
                    <button class="header__hamburger hamburger hamburger--slider" type="button" id="jq_hamburger"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
            </div>
            <div class="header__inner-wrap" id="jq_nav">
                <div class="header__right clearfix">
                    {{ page.top_header }}
                    <div class="header__search">
                        {{ page.search }}
                    </div>
                    {{ page.bottom_header }}
                </div>
                {{ page.navigation }}
            </div>
        </div>
    </header>
    <div id="content-wrap">
        <main class="{{ page_class_name }}" id="{{ page_class_name }}">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
            <div class="layout-content layout-content--{{ page_class_name }} container clearfix">
                {{ page.breadcrumbs }}
                {{ page.side_navigation }}
                <div class="main-content articles">
                	<div class="mb">
                    	{{ drupal_view('front_cycle', 'slideshow') }}
                	</div>
                    
                    <div class="news-feed">
                        <h2 class="news-feed__section-title section-title padding">{{ 'Articles'|t }}<a class="" href="/articles">{{ 'All articles'|t }}</a></h2>
                    </div>
                    
                    {{ drupal_view('news', 'articles') }}

                </div>
                <div class="layout-aside news-feed news-feed-events padding-bottom">

                {% if current_language == 'cs' %}

                    <h2 class="news-feed__section-title section-title padding">{{ 'Events'|t }} <a class="" href="events">{{ 'All events'|t }}</a> </h2>
                    {{ drupal_view('events', 'today') }}
                    {{ drupal_view('events', 'tomorrow') }}
                    {{ drupal_view('events', 'soon') }}
                    {{ drupal_view('events', 'recomend') }}

                    <div style="margin-bottom:30px;"></div>

                    

                {% endif %}

					

                    {{ page.front_aside }}

                {% if current_language == 'cs' %}

                    <div style="margin-bottom:30px;"></div>
                    
                    <div class="jobs-teaser">
                        <header>
                            <h2 class="news-feed__section-title section-title padding">
                                Desítky pracovních pozic pro právníky
                            </h2>
                            <h3 class="">Vyberte si</h3>
                        </header>

                        {{ drupal_view('nabidka_praci', 'jobs_teaser') }}
                    </div>

                    
                {% endif %}

                </div>
            </div>
            <div class="container news-block">
                {{ drupal_view('news_page', 'block_homepage_news_feed') }}
            </div>

			{% if current_language == 'cs' %}

           <!--  <div class="container courses-block">
                {{ drupal_view('news_page', 'block_homepage_courses_feed') }}
            </div> -->

			{% endif %}

            <section class="search-large" style="padding-bottom:40px">
                {{ drupal_form('Drupal\\search\\Form\\SearchBlockForm', 'homepage') }}
            </section>
        </main>
        {{ page.prefooter }}
        {{ page.footer }}
    </div>
</div>{# /.layout-container #}

