<section class="person mb" id="person">
	<h2 class="person__title section-title padding">
		{% if content.field_prijmeni[0] is not empty %}
			{% if content.field_titul[0] is not empty %}
				{{ content.field_titul }}
			{% endif %}
			{{ content.field_jmeno }}
			{{ content.field_prijmeni }}
			{% if content.field_titul_za[0] is not empty %},
				{{ content.field_titul_za }}
			{% endif %}
		{% else %}
			{{ user.name.0.value }}
		{% endif %}
	</h2>
	<div class="person__wrap padding clearfix">
		<div class="person__img-wrap padding">
			{{ content.user_picture }}
		</div>
		<div
			class="person__info padding">
			{# Nadefinované v template field--field-mail.html.twig #}
			{{ content.field_mail }}

			{# Nadefinované v template field--field-telefon.html.twig #}
			{{ content.field_telefon }}


			<div style="padding-top:20px">
				{{ drupal_view('workplace', 'workplaces') }}
				{% set membership = drupal_view_result('membership', 'membership')|length %}
				{% if membership > 0 %}
					<h4 style="padding-top:20px">{{ 'Membership'|t }}</h4>
					{{ drupal_view('membership', 'membership', userid) }}
				{% endif %}
				{% if membership is not empty %}{% endif %}
			</div>
			{{ content.field_detail }}

		</div>
	</div>
</section>
<div class="tabframe mb">
	<div class="tab">
		{% if content.field_cv[0] is not empty %}
			<button class="tablinks" onclick="openTab(event, 'cv')" id="defaultopen">Životopis</button>
		{% endif %}
		{% if content.field_id_ucitele[0] is not empty %}
			<button class="tablinks" onclick="openTab(event, 'publications')" {% if content.field_cv[0] is empty %} id="defaultopen" {% endif %}>Publikace</button>
			<button class="tablinks" onclick="openTab(event, 'teaching')">Výuka</button>
			<button class="tablinks" onclick="openTab(event, 'timetable')">Rozvrh</button>
			<button class="tablinks" onclick="openTab(event, 'advisor')">Školitel</button>
		{% endif %}
	</div>
	{% if content.field_cv[0] is not empty %}
		<div id="cv" class="tabcontent padding" style="display: block;">
			{{ content.field_cv }}
		</div>
	{% endif %}
	{% if content.field_id_ucitele[0] is not empty %}
		<div id="publications" class="tabcontent padding" style="display: none;">
			{{ drupal_view('publikace', 'obd') }}
		</div>
		<div id="teaching" class="tabcontent padding" style="display: none;">
			{{ drupal_view('user_integration', 'teaching') }}
		</div>
		<div id="timetable" class="tabcontent padding" style="display: none;">
			{{ drupal_view('user_integration', 'timetable') }}
		</div>
		<div id="advisor" class="tabcontent padding" style="display: none;">
			{{ drupal_view('user_integration', 'advisor') }}
		</div>
	{% endif %}
</div>
<style>
	.tabcontent {
		animation: fadeEffect 1s;
	}

	.tab {
		overflow: hidden;
		border: 1px solid #f6f6f6;
	}

	.tab .tablinks {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px;
		transition: 0.3s;
		line-height: 16px;
	}

	.tab .tablinks:hover {
		background-color: #ddd;
	}

	.tab .tablinks.active {
		background-color: #d43241 !important;
		color: white;
	}

	.tabframe {
		background: white;
	}

	.tabcontent {
		display: none;
		border: 1px solid #f6f6f6;
		border-top: none;
		word-break: break-word;
	}

	.tabcontent p {
		white-space: pre-line;
	}

	.person__img-wrap img {
		height: auto;
	}

	@keyframes fadeEffect {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}
</style>
<script>
	function openTab(evt, cityName) {
var i,
tabcontent,
tablinks;
tabcontent = document.getElementsByClassName("tabcontent");
for (i = 0; i < tabcontent.length; i++) {
tabcontent[i].style.display = "none";
}
tablinks = document.getElementsByClassName("tablinks");
for (i = 0; i < tablinks.length; i++) {
tablinks[i].className = tablinks[i].className.replace(" active", "");
}
document.getElementById(cityName).style.display = "block";
evt.currentTarget.className += " active";
}

document.getElementById("defaultopen").click();
</script>
